
plone.app.locales.egg-info/SOURCES.txt

.DS_Store

*.pyc

*.mo

plone.app.locales.egg-info/dependency_links.txt

plone.app.locales.egg-info/namespace_packages.txt

plone.app.locales.egg-info/not-zip-safe

plone.app.locales.egg-info/requires.txt

plone.app.locales.egg-info/top_level.txt
