include *.rst
include pyproject.toml

graft docs
graft src *
graft utils

global-include *.mo
global-exclude *.py[co]
recursive-exclude news *
exclude news
recursive-include src *.po
recursive-include src *.pot
recursive-include src *.zcml
