rem full path to the python interpretor
set PYTHON="python"

rem path to ZOPE_HOME/lib/python
set SOFTWARE_HOME="C:\Program Files\Plone 2\Zope\lib\python"

rem path to your instance. Don't set it if you aren't having  instance
set INSTANCE_HOME="C:\Program Files\Plone 2\Data"

%PYTHON% runalltests.py
