@echo off
rem
rem path to your Python executable used to run Zope
rem

set PYTHON=c:\zope\bin\python.exe

rem
rem path to the i18ndude script
rem if you installed i18ndude using "python setup.py install" it should be under the sc
rem

set I18NDUDE=c:\zope\bin\Scripts\i18ndude

rem
rem path to your instance home
rem this is the folder containing the etc, var, Products, ... folders holding your real data
rem

set INSTANCE_HOME=c:\zope\Data
