@echo off
rem
rem path to your Python executable used to run Zope
rem

set PYTHON=c:\zope\bin\python.exe

rem
rem path to the i18ndude script
rem if you installed i18ndude using "python setup.py install" it should be
rem under the scripts folder of Zope's Python install
rem

set I18NDUDE=c:\zope\bin\Scripts\i18ndude

rem
rem path to your instance home
rem this is the folder containing the etc, var, Products, ... folders
rem containing your real data
rem

set INSTANCE_HOME=c:\zope\Data

rem
rem path to your software home
rem this is the folder containing Zope's modules like AccessControl,
rem Acquisition, App, ... and Testing
rem

set SOFTWARE_HOME=c:\zope\lib\python